@use '../../../styles/typography' as typography;
@use '../../../styles/colors' as colors;


.link, .link:visited {
  @include typography.h3;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 36px;
  color: colors.color(dark, 100);

  &:focus-visible {
    outline: none;
    border: 2px solid colors.color(accent, 700);
    border-radius: 2px;
  }

  &:hover {
    background-color: rgba(colors.color(accent, 500), 0.15);
    color: colors.color(accent, 500);
  }
}

.activeLink, .activeLink:visited {
  color: colors.color(accent, 500);
}

.link {
  position: relative;
  padding: 8px 16px;
  font-weight: 500;
  color: #888;
  text-decoration: none;

  &:hover {
    color: #555;
  }
}

.activeIndicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 2px;
  background: #0070f3;
}
