@use '../../../styles/typography' as typography;
@use '../../../styles/colors' as colors;


.link {
  @include typography.h3;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  background: none;
  height: 36px;
  color: colors.color(dark, 100);

  &:focus {
    outline: none;
    border-radius: 2px;
  }

  &:hover {
    background-color: rgba(colors.color(accent, 500), 0.15);
    color: colors.color(accent, 500);
  }
}

.activeLink{
  color: colors.color(accent, 500);
  border-bottom: 2px solid colors.color(accent, 700);

}




