@use '../../../styles/typography' as typography;
@use '../../../styles/colors' as colors;


.link {
  @include typography.h3;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  background: none;
  height: 36px;
  color: colors.color(dark, 100);

  &:focus {
    outline: none;
    border: 2px solid colors.color(accent, 700);
    border-radius: 2px;
  }

  &:hover {
    background-color: rgba(colors.color(accent, 500), 0.15);
    color: colors.color(accent, 500);
  }
}

.activeLink{
  color: colors.color(accent, 500);
}



.activeIndicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 2px;
  background: #0070f3;
}
